# C# / .NET / Visual Studio
# ========================

# User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/

# Visual Studio 2015/2017 cache/options
.vs/
# Visual Studio 2019 cache
.vsconfig

# Rider
.idea/

# --- Testing ---
# Test results
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*
*.VisualState.xml
TestResult.xml

# NUnit
*.nunit
nunit-project.xml

# MSTest
*.trx

# --- Other ---
# Roslyn cache
.roslyn/

# Service Fabric
*.sfproj.user

# Windows Presentation Foundation (WPF)
Generated_Code/

# Environment files
.env
*.env

# NuGet Packages
*.nupkg
*.snupkg
# The packages folder can be ignored because of Package Restore
**/packages/*
# except build/, which is used as an MSBuild target.
!**/packages/build/
# set source-delting behavior to true
*.[Pp]ackages.[Cc]onfig
# Managed source code analysis tools
**/App_Data/Elmah/
